body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.fixed {
  position: fixed !important;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.container {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

.posting {
  width: auto;
  max-width: 600px;
}

.suggests {
  width: 300px;
  padding-left: 15px;
}

@media screen and (max-width: 1000px) {
  .suggests {
    display: none;
  }
  .wrapper {
    justify-content: center;
  }
}

.wrapper {
  margin-top: 100px;
  display: flex;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.MuiDialog-paperWidthSm {
  max-width: 715px !important;
  /* min-width: 90% !important; */
}

/* @media screen and (max-width: 650px) {
  .MuiDialog-paperWidthSm {
    max-width: 500px !important;
    min-width: 10% !important;
  }
} */